<aside class="aside-nav">
  <section class="logo">
    <img src="/assets/images/logo-m2.png" alt="" />
  </section>
  <section>
    <article class="item active">
      <a href="">
        <i class="fa-solid fa-house"></i>
        <p>home</p></a
      >
    </article>
    <article class="item">
      <a href="">
        <i class="fa-solid fa-database"></i>
        <p>data overview</p></a
      >
    </article>
    <article class="item">
      <a href="">
        <i class="fa-solid fa-gears"></i>
        <p>settings</p></a
      >
    </article>
    <article class="item">
      <a href="">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <p>logout</p></a
      >
    </article>
  </section>
</aside>
