<form action="<%= currentPage === 'players' ? '/milestone/players' : '/milestone/leagues' %>" method="post" id="searchForm">
  <section class="search">
    <div class="input-wrapper light-hover">
      <input
        type="text"
        placeholder="Search by name"
        id="searchTerm"
        name="searchTerm"
      />
    </div>
    <div class="submit light-hover">
      <button type="submit">SEARCH</button>
    </div>
    <div class="reset light-hover">
      <button type="button" onclick="window.location.href='/milestone/players'">
        RESET
      </button>
    </div>
    <div class="sorting light-hover">
      <button type="button" onclick="sortPlayers('ASC')">ASC</button>
    </div>
    <div class="sorting light-hover">
      <button type="button" onclick="sortPlayers('DESC')">DESC</button>
    </div>
  </section>
</form>
