<form action="<%= currentPage === 'players' ? '/milestone/players' : '/milestone/leagues' %>" method="post" id="searchForm">
  <section class="search">
    <div class="input-wrapper light-hover">
      <input
        type="text"
        placeholder="Search by name"
        id="searchTerm"
        name="searchTerm"
        value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>"
      />
    </div>
    <div class="submit light-hover">
      <button type="submit">SEARCH</button>
    </div>
    <div class="reset light-hover">
      <button type="button" onclick="window.location.href='/milestone/<%= currentPage %>'">
        RESET
      </button>
    </div>
    <% if(currentPage === 'players'){%>
    <div class="sorting light-hover">
      <button type="submit" name="sortOrder" value="ASC">ASC</button>
    </div>
    <div class="sorting light-hover">
      <button type="submit" name="sortOrder" value="DESC">DESC</button>
    </div>
    <%}%>
  </section>
</form>
