<form action="/players" method="post">
  <section class="search">
    <div class="input-wrapper">
      <input type="text" placeholder="search" name="searchTerm" />
    </div>
    <div class="main-sort">
      <div>
        <select name="searchCategory" id="cars">
          <option value="player-name" name="player-name">player name</option>
          <option value="league">league</option>
          <option value="club">club</option>
          <option value="country">country</option>
          <option value="market-value">market value</option>
        </select>
      </div>
      <div class="sorting">
        <button type="submit" name="sortOrder" value="ASC">
          <i class="fa-solid fa-arrow-up-a-z"></i>
        </button>
      </div>
      <div class="sorting">
        <button type="submit" name="sortOrder" value="DESC">
          <i class="fa-solid fa-arrow-up-z-a"></i>
        </button>
      </div>
      <div class="submit">
        <button type="submit">SEARCH</button>
      </div>
    </div>
  </section>
</form>
