<%- include("partials/head") %>
<main class="error-main">
  <section class="main-error">
    <h4>Bad page</h4>
    <h1 class="error-text">
      4
      <div class="voetbal light-hover"></div>
      4
    </h1>
    <p class="error-p">
      Page not found... <a href="/milestone/home">get home</a>
    </p>
  </section>
</main>
<%- include("partials/footer") %>
