<%- include("partials/head") %> <%- include("partials/aside") %>
<main>


    <h1>Edit Player</h1>
    <form action="" method="POST">
        <label for="name">Name:</label><br><br>
        <input class="light-hover" type="text" id="name" name="name" value="<%= player.name %>"><br>
        
        <br>
        <button class="light-hover" type="submit">Save Changes</button>
    </form>
</main>
</body>
</html>
