<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/ccd4003a42.js"
      crossorigin="anonymous"
    ></script>
    <title></title>
  </head>
  <body>
    <%- include("partials/aside") %>
    <main class="home">
      <section class="top-home">
        <h1></h1>
      </section>
      <a href="/players" class="home-item item1">
        <section class="">
          <h1>Player</h1>
        </section>
      </a>
      <a href="/leagues" class="home-item item2">
        <section class="">
          <h1>League</h1>
        </section>
      </a>
      <a href="/settings" class="home-item item3">
        <section class="">
          <h1>Settings</h1>
        </section>
      </a>
      <a href="/settings" class="img-home-dash">
        <section class=""></section>
      </a>
    </main>
  </body>
</html>
