<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/assets/images/logo-fc.webp" />
    <script
      src="https://kit.fontawesome.com/ccd4003a42.js"
      crossorigin="anonymous"
    ></script>
    <title>MileStone2</title>
  </head>
  <body>
    <%- include("partials/aside") %>
    <main class="home">
      <h5>Welcome to <strong>MileStone2 !</strong></h5>
      <!-- <section class="top-home"></section> -->
      <section class="dash-home">
        <a href="/players">
          <article class="home-item">
            <h1>amount of players</h1>

            <h4><%= numberOfPlayers %></h4>
          </article>
        </a>
        <a href="/leagues">
          <article class="home-item">
            <h1>amount of players</h1>

            <h4><%= numberOfLeagues %></h4>
          </article>
        </a>
        <!-- <article class="home-item">
          <h1>amount of players</h1>

          <h4>178</h4>
        </article> -->
      </section>
    </main>
  </body>
</html>
