<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/ccd4003a42.js"
      crossorigin="anonymous"
    ></script>
    <title></title>
  </head>
  <body>
    <%- include("partials/aside") %>
    <main>
      <section class="table">
        <table>
          <tr class="head">
            <td>PLAYER</td>
            <td>LEAGUE</td>
            <td>CLUB</td>
            <td>MARKET VALUE</td>
            <td>COUNTRY</td>
            <td>BIRTHDATE</td>
          </tr>
          <tr>
            <td class="name-player">
              <img class="player-img" src="/assets/ronaldo.png" alt="" />
              CRISTIANO RONALDO
            </td>
            <td class="league-player">saudi premier league</td>
            <td class="league-player">saudi premier league</td>
            <td class="league-player">saudi premier league</td>
            <td class="league-player">saudi premier league</td>
            <td class="league-player">saudi premier league</td>
          </tr>
        </table>
      </section>
    </main>
  </body>
</html>
