<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/ccd4003a42.js"
      crossorigin="anonymous"
    ></script>
    <title></title>
  </head>
  <body>
    <%- include("partials/aside") %>
    <main>
      <%- include("partials/search") %>
      <section class="players-container">
        <table class="players">
          <tr class="table-heading">
            <th scope="col">player</th>
            <th scope="col">league</th>
            <th scope="col">club</th>
            <th scope="col"><i class="fa-solid fa-coins"></i>market value</th>
            <th scope="col">
              <i class="fa-solid fa-earth-americas"></i>country
            </th>
            <th scope="col">active</th>
            <th scope="col">action</th>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
          <tr>
            <td id="playerName">
              <div class="playerimg"></div>
              Cristiano Ronaldo
            </td>
            <td>Saudi Premier League</td>
            <td>Al-Nassr</td>
            <td>15.000.000€</td>
            <td>Portugal</td>
            <td id="active"><div class="icon"></div></td>
            <td><a href="">view</a></td>
          </tr>
        </table>
      </section>
    </main>
  </body>
</html>
