@import url("https://use.typekit.net/fvy0kqw.css");

* {
  font-family: "stevie-sans", sans-serif;
  --fluo: #00F652;
  --light-blue: #F3F8FF;
  --aside-back: #060e27;
  --body-back: #030817;
  --ligh-black: #284593;
  --button: #193668;
  box-sizing: border-box;
}

html {
  background: var(--body-back);
}

html body {
  overflow-x: hidden;
}

body {
  font-family: "stevie-sans", sans-serif;
  margin: 0;
  width: 100vw;
  display: flex;
  background: var(--body-back);
  /* background-image: url(../assets/images/wallpaper.jpg); */
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

main {
  width: 80vw;
  height: 100vh;
  padding: 2rem;
  grid-area: main;
}

aside {
  min-width: 20vw;
  width: 20vw;
  height: 100vh;
  box-shadow: 0 8px 32px 0 rgba(15, 15, 15, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: var(--aside-back);
  border-right: 2px solid var(--ligh-black);
  top: 0;
  position: fixed;
  grid-area: aside;

}

footer {
  height: 100px;
}

a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.active {
  background-color: #0b1638;
  box-shadow: 7px 0px 0px 0px var(--fluo);
}

.active,
.active a {
  color: var(--fluo);
}

.item:hover {
  background-color: #0b1638;
  color: var(--fluo);
  box-shadow: 7px 0px 0px 0px var(--fluo);
}

.item a:hover,
a:hover {
  color: var(--fluo);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.home-item {
  background-color: var(--aside-back);
  padding: 20px;
  height: 200px;
  width: 30%;
  border: 1px solid var(--ligh-black);
  border-radius: 10px;
  text-align: center;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

.home-item:hover {
  border: 3px solid var(--ligh-black);
}


h1 {
  color: white;
}

.item {
  color: white;
}

.item a {
  display: flex;
  align-items: center;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-logo {
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

i {
  margin-right: 10px;
}

.logo {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 100px;
}

.top {
  height: 2rem;
  width: 100%;
  margin-bottom: 40px;
}

table {
  width: 100%;
  text-align: left;
  margin-top: 25px;
  border: none;
  font-family: "stevie-sans", sans-serif;
  border-collapse: collapse;

}

.playerimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-image: url(/assets/ronaldo.png); */
  background-color: #F3F8FF;
  background-size: contain;
  background-position: center;
}

td {
  border-bottom: 1px solid #5b5b5b;
  color: white;
  padding: 5px;
  padding-left: 10px;
  font-size: 14px;
}

#playerName {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
}

.players {
  margin-bottom: 10px;
}

.players th {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  background-color: var(--fluo);
  color: var(--aside-back);
  margin: 0;
  border: none;
  outline: none;
  font-weight: 700;
}

tr:hover {
  background-color: #5b5b5b3e;
}

tr {
  height: 40px;

  /* Définissez la hauteur souhaitée */

}

th {
  padding: 10px;
  border: none;
}

.players-container {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  margin-top: 2 0px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

.icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
}

.player-active .icon {
  background-color: rgb(69, 221, 69);
  text-align: center;
}

.player-inactive .icon {
  background-color: rgb(214, 69, 69);
  text-align: center;
}


/*
SEARCH
*/

button {
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background-color: var(--button);
  border: 2px solid var(--ligh-black);
  color: white;
  cursor: pointer;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

select {
  outline: none;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background-color: var(--button);
  border: 2px solid var(--ligh-black);
  color: white;
  cursor: pointer;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

button:hover {
  color: var(--fluo);
}

.input-wrapper {
  display: inline-block;
  position: relative;
  align-items: center;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

input[type="text"] {
  width: 400px;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
  background-color: var(--aside-back);
  border: 1px solid var(--ligh-black);
  border-radius: 5px;
  color: lightgray;
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.31);
  outline: none;
}

.input-wrapper input i {
  color: var(--fluo)
}

.input-wrapper:after {
  font-family: 'FontAwesome';
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 15px;
  color: var(--fluo);
  outline: none;
}

.search {
  width: auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}


@media screen and (max-width: 1060px) {
  .item p {
    display: none;
  }

  .item a {
    justify-content: center;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5rem;
  }


  aside {
    min-width: none;
    width: 10vw;
  }

  .search {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}



/*
Animations:
*/

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}