@import url("https://use.typekit.net/fvy0kqw.css");

* {
  font-family: "stevie-sans", sans-serif;
  --fluo: #00F652;
  --light-blue: #F3F8FF;
  --aside-back: #0f0f0f;
  --body-back: #111111;
  --ligh-black: #2b894b;
  --hover: #1e1e1e;
  --button: #303030;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--fluo);
  transition: all 0.3s ease-out;
}

::-webkit-scrollbar-thumb:hover {
  filter: drop-shadow(0 0 0.75rem rgba(13, 255, 0, 0.277));
}

html {
  background: var(--body-back);
}

html body {
  overflow-x: hidden;
}

body {
  font-family: "stevie-sans", sans-serif;
  width: 100vw;
  height: auto;
  display: flex;
  background: rgb(37, 36, 36);
  background: radial-gradient(circle, rgba(37, 36, 36, 1) 0%, rgba(17, 17, 17, 1) 100%);
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-image: radial-gradient(#00f6525e 0.5px, transparent 0.5px), radial-gradient(#00f6525e 0.5px, #1e1e1e 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  margin: 0;
  padding: 0;
}

main {
  width: 80vw;
  padding: 2rem;
  grid-area: main;
  min-height: 100vh;
}

aside {
  min-width: 200px;
  /* Définissez une largeur minimale pour éviter une réduction excessive */
  width: 20%;
  height: 100vh;
  box-shadow: 0 8px 32px 0 rgba(15, 15, 15, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: var(--aside-back);
  border-right: 2px solid var(--ligh-black);
  top: 0;
  left: 0;
  position: fixed;
  grid-area: aside;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.48);
}

footer {
  height: 100px;
}

a {
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.active {
  background-color: var(--hover);
  box-shadow: 7px 0px 0px 0px var(--fluo);

}

.active,
.active a {
  color: var(--fluo);
}

.item:hover {
  background-color: var(--hover);
  color: var(--fluo);
  box-shadow: 7px 0px 0px 0px var(--fluo);
}

.item a:hover,
a:hover {
  color: var(--fluo);
}

.home {
  height: 100vh;

}

.main-player {
  height: 100vh;
}

.home-item {
  background-color: var(--aside-back);
  padding: 20px;
  /* width: 100%; */
  height: 150px;
  border: 1px solid var(--ligh-black);
  border-radius: 10px;
  text-align: center;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.48);
}

.home-item2 {
  width: 60%;
}

.dash-home {
  display: flex;
  /* width: 100%; */
  gap: 20px;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.img-home-dash {
  background-color: var(--hover);
  border-radius: 10px;
  grid-area: img;
  height: 350px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.48);
}

.home-item:hover {
  border: 1px solid var(--fluo);
  background-color: var(--hover);
}

/* .top-home {
  height: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--hover);
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.48);
  border-radius: 10px;
  grid-area: home-header;
  background-color: #1e1e1e;
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.top-home h1 {
  font-size: 40px;
  /* text-shadow: 3px 3px 3px #00f652a7;
}
*/
.stats {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.stats article {
  background-color: var(--hover);
  padding: 10px;
  z-index: 100;
  width: 25%;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--ligh-black);
  background: rgba(36, 36, 36, 0.251);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(6px);
  border-radius: 10px;
}

h3 {
  color: white;
  font-size: 30px;
  margin-top: 0;
}

h4 {
  color: white;
  font-size: 20px;
}


h1 {
  color: white;
}

h5 {
  font-size: 40px;
  font-weight: 100;
  color: rgb(150, 150, 150);
}

.sub-welcome {
  margin-top: -50px;
}

h5 strong {
  color: var(--fluo);
}

.item {
  color: white;
}

.item a {
  display: flex;
  align-items: center;
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-logo {
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-logo img {
  width: 100px;
}

i {
  margin-right: 10px;
}

.logo {
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 100px;
}

.detail-img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-color: #F3F8FF;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.details-main {
  margin-top: 100px;
  display: flex;
  gap: 40px;
}

.top {
  height: 2rem;
  width: 100%;
  margin-bottom: 40px;
}

.details-player {
  color: white;
}

.head-title {
  gap: 40px;
  display: flex;
  align-items: center;
}

.details-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 70%;
  gap: 40px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  border-radius: 10px;
  border: 1px solid var(--ligh-black);
  background: rgba(36, 36, 36, 0.066);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.details-container h1 {
  font-size: 45px;
}

table {
  width: 100%;
  text-align: left;
  margin-top: 25px;
  border: none;
  font-family: "stevie-sans", sans-serif;
  border-collapse: collapse;

}

.playerimg {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  /* background-image: url(/assets/ronaldo.png); */
  background-color: #F3F8FF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

td {
  border-bottom: 1px solid #5b5b5b;
  color: white;
  padding: 20px;
  padding-left: 10px;
  font-size: 14px;
}

.content-name {

  gap: 10px;
  display: flex;
  align-items: center;
}

.players {
  margin-bottom: 10px;
}

.players th {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  background-color: var(--fluo);
  color: var(--aside-back);
  margin: 0;
  border: none;
  outline: none;
  font-weight: 700;
}

tr:hover {
  background-color: #5b5b5b3e;
}

tr {
  height: 40px;

  /* Définissez la hauteur souhaitée */

}

th {
  padding: 10px;
  border: none;
}

.players-container {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  margin-top: 2 0px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

.icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
}

.player-active .icon {
  background-color: rgb(69, 221, 69);
  text-align: center;
  filter: drop-shadow(0 0 0.75rem #00f6528a);
}

.player-inactive .icon {
  background-color: rgb(214, 69, 69);
  text-align: center;
}


/*
SEARCH
*/

button {
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background-color: var(--button);
  border: 2px solid var(--ligh-black);
  color: white;
  cursor: pointer;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.48);

}

select {
  outline: none;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background-color: var(--button);
  border: 2px solid var(--ligh-black);
  color: white;
  cursor: pointer;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.48);
}

button:hover {
  color: var(--fluo);
}

.input-wrapper {
  display: inline-block;
  position: relative;
  align-items: center;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.48);
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 400px;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 5px;
  background-color: var(--aside-back);
  border: 1px solid var(--ligh-black);
  border-radius: 5px;
  color: lightgray;
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.31);
  outline: none;
}

.edit-input {
  margin-top: 20px;
  margin-bottom: 40px;
}

.settings {
  margin-top: 0;
  padding-top: 0;
}

.cs-img {
  background-image: url(../assets/images/coming-soon2.png);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.cs-img:hover {
  filter: drop-shadow(0 0 0.75rem rgba(13, 255, 0, 0.277));
  transition: all 0.3s ease-out;
}

.fa-highlighter {
  margin-left: 10px;
  color: white;
}

.progress-bar {
  width: 100%;
  background-color: #f1f1f1;
  height: 30px;
  display: flex;
}

.progress {
  height: 100%;
  background-color: #4CAF50;
}

.input-wrapper input i {
  color: var(--fluo)
}

.input-wrapper:after {
  font-family: 'FontAwesome';
  content: '\f002';
  position: absolute;
  right: 10px;
  top: 15px;
  color: var(--fluo);
  outline: none;
}

.search {
  width: auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.main-sort {
  display: flex;
  gap: 1rem;
}

.marketValue {
  color: var(--fluo);
  font-size: 30px;
  margin-top: 0;
  font-weight: bold;
}

.error-text {
  font-size: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;

}

.error-p {
  color: white;
}

.error-main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-error {
  display: flex;
  flex-direction: column;
  align-items: center;

}

label {
  color: white;
}



.edit-icon:hover {
  color: #00F652
}

.voetbal {
  background-image: url(../assets/images/voetbal.png);
  width: 200px;
  height: 200px;
  background-size: contain;
}

.light-hover:hover {
  filter: drop-shadow(0 0 0.75rem rgba(13, 255, 0, 0.277));
  transition: all 0.3s ease-out;
}

.td-link {
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1230px) {
  input[type="text"] {
    width: 200px;
  }
}

@media screen and (max-width: 1060px) {
  .item p {
    display: none;
  }

  .item a {
    justify-content: center;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 5rem;
  }

  input[type="text"] {
    width: 544.7px;
  }

  aside {
    min-width: none;
    width: 10vw;
  }

  th.mobile-td {
    display: none;
  }

  td.mobile-td {
    display: none;
  }

  /* .top-logo img {
    width: 100px;
  } */

  .search {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 890px) {
  .item p {
    display: none;
  }

  .search {
    width: 100%;
    gap: 1rem;
  }

  .main-sort {
    display: flex;
    gap: 10px;
  }

  aside {
    min-width: none;
    min-width: 170px;
  }

  .top-logo img {
    width: 100px;
    padding: 0;
  }

  .top-logo {
    width: 100px;
    padding: 10px;
  }

  .search {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  body {
    display: flex;
    background-image: radial-gradient(#00f6525e 0.5px, transparent 0.5px), radial-gradient(#00f6525e 0.5px, #1e1e1e 0.5px);

  }

  aside {
    width: 100%;
    position: static;
    height: auto;
    border-right: none;
    outline-right: none;
  }

  aside section {
    flex-direction: column-reverse;
    border-bottom: 2px solid var(--ligh-black);

  }

  aside section article {
    width: 100%;
    /* Définissez une largeur de 100% pour occuper toute la largeur */
  }

  aside article:hover {
    border-bottom: 2px solid var(--ligh-black);
  }

  .logo-article {
    display: none;
  }

  .active {
    background-color: var(--hover);
    box-shadow: 0px 7px 0px 0px var(--fluo);
  }

  .active,
  .active a {
    color: var(--fluo);
  }

  .item:hover {
    background-color: var(--hover);
    color: var(--fluo);
    box-shadow: 0px 7px 0px 0px var(--fluo);
  }

  .item a:hover,
  a:hover {
    color: var(--fluo);
  }

  main {
    width: 100vw;
  }

  .mobile-td {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 610px) {

  .home-item h1 {
    font-size: 15px;
  }

  .sorting {
    display: none;
  }

  .search {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 580px) {
  input[type="text"] {
    width: 400px;
  }

  .main-sort {
    width: 400px;
    display: flex;
    justify-content: center;
  }

  select {
    display: none;
  }

}

/*
Animations:
*/

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}